html,body {
	margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
	color: #562e1a;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
	width: 100%;
	background-color: rgb(231, 255, 221);
}

#container {
    width: 100%;
	/*height: 100%;*/
    height:auto;
	//background-color: rgb(231, 255, 221);
    /*object-fit:cover;*/
}

#banner {
	background: #9dc4f5;
    height: auto;
    width: auto;	
}
#hader-icon{
	background: url("img/header.png") no-repeat;
	height: 80px;
}
#index_outer {
    //background: rgb(231, 255, 221);
    background-repeat: repeat;	
    padding-top: 170px;
	height: auto;  

}
#outer{
/*height: auto;*/ 
	height: 100%;
text-align: center;
}
#footer {
    background-color: #9dc4f5;
    height: 22px;
	width: 100%;
	position:fixed;
	bottom:0px;
    text-align: center;
}

#usage{
	margin-left: auto;
    margin-right: auto;
    width: auto/*500px*/;
	text-align: center;
	
}
#Layer1{
	width:400px;
	height:212.5px;
	color: #000000;
	margin-left: auto;
    margin-right: auto;
	background-image:url(image/frame.jpg);
	text-align:left;
}
/*********************************************登入頁面*****************************************************/

.system_login{
    width: 100%;
    margin: 0px auto;
    height: auto;
    //background-color: rgb(231, 255, 221);
}

.form-container {
   border: 1px solid #f2e3d2;
   background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
   background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:400px;
   margin-left: auto;
   margin-right: auto;
   
   }
.form-field {
   -webkit-border-radius: 15px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #725129;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.clear-button{
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   width: 66px;
   height: 37px;
}
.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   width: 66px;
   height: 37px;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   
   #make_items_right{
   float:right;
   }
   
   /************************************登入後頁面for menu.php**********************************************************/
#main_content {
/*padding-bottom: 20px;*/
    /*height: 100%;*/	
    margin-top: 10px;
	//background-color: rgb(231, 255, 221);
	padding-bottom: 0.1px;
	margin-bottom: 22px;
	
}

#outer {
/*padding-bottom: 20px;*/
    height: 100%;
	//background-color: rgb(231, 255, 221);
	margin-bottom: 22px;
	/*padding-bottom: 0.1px;*/
	
}
#maincontent{
    margin-top: 10px !important;
	width:600px;
	margin: 0px auto;
	margin-bottom: 22px;
}

#cd{
	width: 500px !important;
}
#now_addr,#root_addr{
width: 500px !important;
}
/***********************************************************************/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
	height:100%;
	margin-bottom: 30px;
}

td, th {
    border: 1px solid #aaaaaa;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #CCEEFF	;
}
/*id="form_style"*/
#form_style{
width: 645px;
}

#pdfcard ,#rr,#check_result,#pdf_link{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
	margin: 10px;
	background-color:#FFFFBB;

} 
#check_result{
	height:100%;
}
#rr,#check_result{
	width: auto;
}
#pdfcard:hover,#rr:hover ,#check_result,#pdf_link{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#pdfcard{
    padding-bottom: 10px;
}    
#pdf_link{
	margin-right:auto;
	margin-left:auto;
	width:25%;
}
#create_pdf{
	margin-bottom: 10px ;
    width:100px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    outline: none;
    background-color: #AAF7F5;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
}
/*
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

label {position:relative}*/
/*label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}*/
