img {	
	border: 0;
	}

#sidebar img {
	margin: 5px 0;
	border: 1px solid #333;
	}

#footer img {
	vertical-align: middle;
	border: 0;
	}
		
#homebutt {
	margin: 5px 10px 0 60px;
	padding: 0;
	float: left;
	}
	
#homebutt img {
	border: 0;
	padding: 0;
	margin: 0;
	}
	
body {
	background-image: url(../image/bg_forum.gif) ;
	background-color:#C0C0C0;
	color: #333;
	margin: 0;
	padding:0;
	border: 0;
	border-top: 0px solid #566;
	text-align:center;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	padding-bottom: 25px;
	}
	
#wrapper {
	background: #fff url(../image/pgbg4.gif) repeat;
	color: #333;
	margin: 10px auto;
	padding: 0;
	border: 1px solid #566;
	width: 800px;  /* bmh */	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 850px;
	}

html>#wrapper {
	width:820px;
	} 

#header	{
	background: #fff;
	color: #333;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	}

#header img {
	margin: 0;
	padding: 0;
	border: 0;
	}

#pagebody {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: left;
	color: #444;
	background: transparent;
	clear: both;
	}

#maincontent {
	float: right;
	margin: 0;
	padding: 10px;
	width: 530px;  /* box model hack */	
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 630px;
	clear: both;
	}

html>#maincontent {
	width: 630px;
	} 

#maincontent td.dash{
	margin:0px;
	padding:0px;
	}
	
#maincontent table tr td{
	font-size:x-small;
	color: #666;
	margin:5px;
	padding:5px;
	}
	
#maincontent table caption{
	font-size:small;
	margin:5px;
	padding:5px;
	border:1px solid #000;
	}

#maincontent th{
	/*padding:2px;
	margin:5px;
	text-align:center;
	color:black;*/
	background: #c0c0c0;
	font-weight:300;
	}
	
#maincontent table tr td a {
	font-size: x-small; 
	font-weight:300;
	} 

#maincontent ol, #maincontent ul {
	margin: .5em 0;
	padding-left: 10px;
	margin-left: 10px;
	}
	
#maincontent li	{
	line-height: 1.4;
	margin-bottom: 10px;
	padding-left: 5px;
	margin-left: 5px;
	list-style: disc url(/i/listblack.gif) inside;
	vertical-align: top;
	}
	
#maincontent ul ul li {
	margin-top: 10px;
	list-style: disc url(/i/innerlistblack.gif) inside;
	vertical-align: top;
	}

body#sectionone #menu li#one a, 
body#sectiontwo #menu li#two a,
body#sectionthree #menu li#three a,
body#sectionfour #menu li#four a,
body#sectionfive #menu li#five a {
	background: #c30;
	border: 1px solid #c30;
	color: #fff;
	font-weight: bold;
	}


/*左側選單sidebar*/	
#sidebar {
	padding: 10px 10px 5px 0;
	margin: 0 670px 0 0;
	color: #666;
	background: transparent; 
	/* compensates for IE Win bungling */
	height: 100%;
	}
	
#footer {
	border: 0;
	border-top: 1px solid #ccc;
	color: #666;
	background: #eee;
	padding: 5px 10px 10px 10px;
	text-align: left;
	clear: both;
	font-size: xx-small;
	voice-family: "\"}\""; 
	voice-family:inherit;
	font-size: x-small;	
	}

html>#footer {
	font-size: x-small;
	} 

#footer p {
	margin: 5px 0;
	padding: 0;
	text-align:center;
	}

#subnav	{
float: right;
	margin: 5px 6px 0 0;
	padding: 0px ;
	border: 0;
	}

#subnav ul {
	margin: 0;
	padding: 0;
	text-align: left;
	border: 0;
	}
	
#subnav ul li {
	list-style: disc url(../images/li_arrow.gif) outside;
	margin: 3px;
	margin-left:15px;
	padding: 0;
	vertical-align: middle;
	line-height: 1.5em;
        font-size:    xx-small;      
        voice-family: "\"}\"";   
        voice-family: inherit;   
        font-size:    x-small;      
	}	

html>#subnav ul li {
	font-size: small;
	} 

#subnav ul li a {
	font-weight: normal;
	/*font-size: x-small;*/
	}

#subnav dl {
	margin: 0;
	padding: 0;
	}
	
#subnav dt {
	font-weight: normal;
	font-size:    x-small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size:    x-small;  
	}   
	
html>#subnav dt {
	font-size: x-small;
	} 

#subnav dd {
	padding: 0;
	margin: 2px 0 10px 0;
	}   	

div.spacer {
	clear: both;
	}

h1, h2, h3, h4, h5, h6	{
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: normal;
	margin-top: 25px;
	margin-bottom: 2px;
	letter-spacing: 1px;
	}
	
#pagebody h1 {
	margin-top: 0;
	font-size:    medium;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size:  large;       
	}

html>#pagebody h1 {
	font-size:  large;  
	} 

#pagebody h2 {
	margin-top: 35px; 
	font-size:    small;     
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size:    large;       
	}

html>#pagebody h2 {
	font-size:  medium;  
	} 

#sidebar h2 {
	font-size: 16px;
	margin: 5px 0 0 0 ;
	}

h3 { 
	font-size: small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size: medium;  
	}

html>h3 {
	font-size:  medium;  
	} 

#sidebar h3 {
	font-size: 13px;
	margin: 0;
	}
		
h4 {
	font-weight: normal;
   	font-size: x-small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size: small;  
	}

html>h4 {
	font-size: small;  
	}

#sidebar h4 {
	margin: 0 0 15px 0;
	}

h5 {
	font-size:    xx-small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size:    x-small;  
	}
	
html>h5 {
	font-size:  x-small;  
	} 

h6 {
	margin: 0 0 25px 0;
	padding: 0;
	background: transparent;
	color: #333;
	text-transform: uppercase;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size:    9px;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
  	font-size: xx-small;
	}

html>h6 {
	font-size:  xx-small;  
	} 

p {
	line-height: 90%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 1em;
	}
	
#pagebody, #pagebody div, #pagebody p, #pagebody th, #pagebody td,#pagebody li, #pagebody dd, #pagebody dt    {
	font-size:    x-small;      
	/* Tantek again */
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size:    small;         
	}

html>#pagebody, html>#pagebody div, html>#pagebody p, html>#pagebody th, 
html>#pagebody td, html>#pagebody li, html>#pagebody dd, html>#pagebody dt    {
	font-size:  small;
	}

#sidebar p	{
	font-size: 11px;
	text-align: left;
	}

#maincontent dl	{
	line-height: 1.4em;
	margin-top: 0;
	padding-top: 0;
	}

#maincontent dd	{
	margin-bottom: 5px;
	padding-left: 5px;
	margin-left: 5px;
	}
	
a:link, a:visited {
	font-weight :bold; 
	text-decoration : none;
	color: #c30;
	/*background: transparent;*/ 
	}

a:hover {
	font-weight : bold; 
	text-decoration : underline;
	color: #999;
	/*background: transparent;*/ 
	}

a:active {
	font-weight : bold; 
	text-decoration : none;
	color: #526968;
    /*background: transparent;*/  
	}

#formarea #menu{   
	border:0px dotted #330000;
	padding: 0px;
	margin: 0;
	text-align: left;
	/*position: relative;*/
	}
	
#formarea label	{
	font-size:small;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 3px;
	display:block;
	}

#formarea h1{
	font-size:x-small;
	margin: 0px;
	padding:0px;
	}

#formarea input{
	margin-top: 0px;
}
.postdata {
	background: #fff;
	color: #999;
	font-size: 10px;
	margin: 10px 0 5px 0;
	border: 0;
	border-bottom: 1px dotted #ccc;
	border-top: 1px solid #f3f3f3
	}

.postdata p {
	margin: 10px 0;
	padding: 0;
	}	

.postbody {
	margin: 0 0 25px 0;
	padding: 0;
	overflow: hidden;
	line-height: 1.4;
	}

.hide {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;  /* for the benefit of IE5 Mac */
	}	
	
.linewrap {
	font-weight: bold; 
	color: #c60; 
	font-size: 13px;
	}
	
.floatleft {
	float: left;
	padding: 0;
	margin: 0 15px 0 0;
	}

.form {
	color: #000;
	border: 0px solid #666;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	padding: 1px;
	margin: 0;
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
	}

html>.form {
	font-size: x-small;
	} 

.form-button {
	color: #000;
	background-color: #fff;
	border: 1px solid #666;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
	margin: 0;
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
	}

html>.form-button  {
	font-size: x-small;
	} 
	
	/* Search */
	
#sidebar label	{
	font-size: x-small;
	}
table{
	font-size:xx-small;
	border:1px solid #333;
	}

div#pre{
font-size:x-small;

}
/*nice title*/
 div.nicetitle {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 0px;
    color: black;
    font-size: 16px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 25em;
    font-weight: bold;
    background: url(../images/ntbg2.png);
    /*IE proprietary*/
	filter:alpha(opacity:75);
    /* Mozilla proprietary */
    -moz-border-radius: 12px;
}
 div.nicetitle p {
    margin: 0; padding: 0 3px;
}
div.nicetitle p.destination {
    font-size: 10px;
    text-align: left;
    padding-top: 3px;
}



/**/
div.row span.left {
  float: left;
  text-align: left;
  font-size:x-small;
 /*font-weight: bold;*/
  color: #000;
  width: 60%;
  word-break:break-all;
  }

div.row span.right {
  float: right;
  text-align: right;
  font-size:x-small;
  /*font-weight: bold;*/
  color: #000;
  width: 40%;
  word-break:break-all;
  }





/*公告*/
#notice{
word-break:break-all;
border:1px dashed #333;
border-top:0px;
}

#notice tr td.title{
color:#fff;
background-color:#993300;
}

/*問題與建議*/
#qanda {
word-break:break-all;
border:1px solid #333;
border-top:0px;
background-color:#FFFFCC;
}

#qanda tr.subject  , #qanda tr.subject td {
border:1px solid #333;

background-color:#000099;
color:#FFFFFF;

}

#qanda tr.retitle,#qanda tr.retitle td{
/*border:1px solid #333;*/

background-color:#616161;
color:#FFFFFF;
}

